extends layout

block content
  h2= title
  p This platform is designed for companies that would like to provide their employees access to video training inside company.
  p the platform has this functions :
  ul 
    li anybody users can create new video lectures
    li anybody users can divide they lectures on sections
    li you can share lectures all users or chosens
    li you can register new user
    li you can delete anybody users
  p So , how much cost this platform ? Nothing ! This platform created by Paweł Nedźwiecki on licence MIT. When you want more information on the licence you can go to this link 
    a(href='https://en.wikipedia.org/wiki/MIT_License', target="_blank") this
  
  p When you need infromation how install this platform in you company, go to this reposytory: 
    a(href='https://github.com/pawel-niedzwiecki/learningPlatform', target="_blank") https://github.com/pawel-niedzwiecki/learningPlatform
 
  p Or when you need information how you can administration this platform by REST API, you find in the top menu links to documentation REST API 
