doctype html
html(lang='pl')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='navbar navbar-expand-lg navbar-light bg-light')
      div(class='container')
        a(class='ml-0 navbar-brand', href='../doc/') Documentation API :
        button(class='navbar-toggler', type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-expanded="false", aria-label="Toggle navigation")
          span(class='navbar-toggler-icon')
        div(class='collapse navbar-collapse', id='navbarSupportedContent')
          ul(class='navbar-nav me-auto mb-2 mb-lg-0')
            li(class='nav-item')
              a(class='nav-link', href='../doc/') Home
            li(class='nav-item')
              a(class='nav-link', href='../doc/auth') Authorization
            li(class='nav-item')
              a(class='nav-link', href='../doc/files') Files
            li(class='nav-item')
              a(class='nav-link', href='../doc/lectures') Lectures
            li(class='nav-item')
              a(class='nav-link', href='../doc/users') Users
            
    div(class='container')
      div(class='row')
        div(class='col-12 py-5')
          block content